.App {
  /* text-align: center; */
}

/* .App ul li{
 display: inline-flex;
 margin-left: 20px;
 float: right;

} */

.button{
  background-color: rgb(243, 118, 139);
  border-color:rgb(243, 118, 139);
}
.button:hover{
  background-color: rgb(243, 118, 139);
  border-color:rgb(243, 118, 139);
}